Makefile.in
Makefile
*.o
*.lo
*.la
*.c
*.h
*.stamp
*.gir
.deps
.libs

config.*
aclocal.m4
autom4te.cache
ChangeLog
configure
depcomp
INSTALL
install-sh
libtool
m4
missing
ltmain.sh
ylwrap
compile
stamp-h1
*.pc
.tarball-version
.version

*.gcda
*.gcno
coverage
lcov.info

*~
