include: "https://gitlab.gnome.org/GNOME/citemplates/raw/master/flatpak/flatpak_ci_initiative.yml"

.flatpak rules:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" && $REPO_TOKEN && ($CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "schedule")

.vars-extension:
  extends: ".flatpak rules"
  variables:
    MANIFEST_PATH: "build-aux/flatpak/org.freedesktop.Sdk.Extension.vala-nightly.yml"
    FLATPAK_MODULE: "valac"
    APP_ID: "org.freedesktop.Sdk.Extension.vala-nightly"
    BUNDLE: "vala-extension.flatpak"
    EXPORT_RUNTIME: "--runtime"
    RUN_TESTS: "no"

.vars-23.08:
  extends: [".vars-extension"]
  # Use the image from the last stable runtime that includes 23.08 sdk
  image: 'quay.io/gnome_infrastructure/gnome-runtime-images:gnome-46'
  variables:
    BRANCH: "23.08"

.vars-24.08:
  extends: [".vars-extension"]
  variables:
    BRANCH: "24.08"
  before_script:
    - sed -i "s/23.08/$BRANCH/g" $MANIFEST_PATH

flatpak-extension@23.08@x86_64:
  extends: [".flatpak@x86_64", ".vars-23.08"]

flatpak-extension@24.08@x86_64:
  extends: [".flatpak@x86_64", ".vars-24.08"]

flatpak-extension@23.08@aarch64:
  extends: [".flatpak@aarch64", ".vars-23.08"]

flatpak-extension@24.08@aarch64:
  extends: [".flatpak@aarch64", ".vars-24.08"]

nightly@23.08@x86_64:
  extends: [".publish_nightly", ".flatpak rules"]
  needs: ["flatpak-extension@23.08@x86_64"]

nightly@24.08@x86_64:
  extends: [".publish_nightly", ".flatpak rules"]
  needs: ["flatpak-extension@24.08@x86_64"]

nightly@23.08@aarch64:
  extends: [".publish_nightly", ".flatpak rules"]
  needs: ["flatpak-extension@23.08@aarch64"]

nightly@24.08@aarch64:
  extends: [".publish_nightly", ".flatpak rules"]
  needs: ["flatpak-extension@24.08@aarch64"]
