Makefile.in
Makefile
Makecache
*.o
*.lo
*.la
*.c
*.h
*.stamp
*.gir
.deps
.dirstamp
.libs
libvala-*.vapi

config.*
aclocal.m4
autom4te.cache
ChangeLog
configure
depcomp
INSTALL
install-sh
libtool
m4
missing
ltmain.sh
ylwrap
compile
stamp-h1
*.pc
.tarball-version
.version
.DS_Store
.vscode

*.gcda
*.gcno
coverage
lcov.info

*~

build-aux/test-driver

tests/_test

