stages:
  - build
  - deploy

fedora-gcc-x86_64:
  stage: build
  image: fedora:latest
  except:
    - tags
  before_script:
    - dnf install -y autoconf autoconf-archive automake bison dbus-x11 diffutils flex gcc git glib2-devel graphviz-devel lcov libxslt make vala
  script:
    - git fetch --tags
    - ./autogen.sh --prefix=$HOME/vala-installed --enable-coverage
    - make -j4
    - make install
    - make -j4 coverage-report
    - make -C doc internal-api-docs
  coverage: '/^\s+lines\.+:\s+([\d.]+\%)\s+/'
  artifacts:
    name: "vala-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
    paths:
      - "coverage"
      - "doc/internal-apis"
    expire_in: 2 days

fedora-clang-x86_64:
  stage: build
  image: fedora:latest
  except:
    - tags
  variables:
    CC: clang
  before_script:
    - dnf install -y autoconf autoconf-archive automake bison dbus-x11 diffutils flex clang git glib2-devel graphviz-devel lcov libxslt make vala
  script:
    - git fetch --tags
    - ./autogen.sh
    - make -j4
    - make -j4 bootstrap
    - make -j4 check

ubuntu-clang-x86_64:
  stage: build
  image: ubuntu:devel
  except:
    - tags
  variables:
    CC: clang
    DEBIAN_FRONTEND: noninteractive
  before_script:
    - apt update
    - apt install -y automake autoconf-archive libtool bison dbus flex clang git libglib2.0-dev libgraphviz-dev libgirepository1.0-dev lcov xsltproc make valac
  script:
    - git fetch --tags
    - ./autogen.sh
    - make -j4
    - make -j4 bootstrap
    - make -j4 check

ubuntu-lts-18-gcc-x86_64:
  stage: build
  image: ubuntu:18.04
  except:
    - tags
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
    - apt update
    - apt install -y automake autoconf-archive libtool bison dbus flex git libglib2.0-dev libgraphviz-dev libgirepository1.0-dev lcov xsltproc make valac
  script:
    - git fetch --tags
    - ./autogen.sh
    - make -j4
    - make -j4 bootstrap
    - make -j4 check
  allow_failure: true

ubuntu-lts-16-gcc-x86_64:
  stage: build
  image: ubuntu:16.04
  except:
    - tags
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
    - apt update
    - apt install -y automake autoconf-archive libtool bison dbus flex git libglib2.0-dev libgraphviz-dev libgirepository1.0-dev lcov xsltproc make valac
  script:
    - git fetch --tags
    - ./autogen.sh
    - make -j4
    - make -j4 bootstrap
    - make -j4 check
  allow_failure: true

archlinux-gcc-x86_64:
  stage: build
  image: archlinux/base:latest
  before_script:
    - pacman -Syu --noconfirm automake autoconf-archive libtool bison gettext dbus flex git glib2 graphviz gobject-introspection gcc make vala
  script:
    - git fetch --tags
    - ./autogen.sh
    - make -j4
    - make -j4 bootstrap
    - make -j4 check
  allow_failure: true

pages:
  stage: deploy
  script:
    - mkdir public
    - mv coverage public/.
    - mv doc/internal-apis public/docs
    - echo "<html><body><h1>Vala</h1><ul><li><a href="docs/index.html">Documentation</a></li><li><a href="coverage/index.html">Coverage</a></li></ul></body></html>" > public/index.html
  artifacts:
    name: "vala-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
    paths:
      - public
    expire_in: 2 days
